name: Keep Render Alive

on:
  schedule:
    - cron: "*/10 * * * *"  # a cada 10 minutos
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping API
        run: |
          curl -s https://scrap-sesc.onrender.com/menu/sesc-24-de-maio > /dev/null
